style.css

body { 
	font-family: 'Arial';	
}

h1 {
	text-align: center;
}

#col1 { 
	color:blue;
}

#col2 { 
	color:blue;
}

#col3 { 
	color:blue;
}

h3 {
	text-align: left;
}

.flex-container {
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	display: flex;
	align-items: normal;
}

.vis1 {
	color: green;
}

.vis2 {
	color: green;
	
}
.rect {
	fill: purple;
	opacity: 1;
}

.rect:hover {
	fill: orange;
	opacity: 1;
}

.circle:hover {
	stroke: black;
}

#decoration {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

